.Button {
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    border-radius: 50px;
    border-color: #FCFCE5;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    background-color: #fcc100;
    color: #242A3D;
}

.Button:hover {
    opacity: 0.8;
    border-color: #FCFCE5;
    cursor: pointer;
    background-color: #242A3D;
    color: #fcc100
}

.DarkOutline {
    border-color: #242A3D;
}

.Wide {
    padding: 10px 50px;
    width: 100%;
}

.Light {
    font-size: 1rem;
    font-weight: bold;
    align-self: center;
    border-radius: 50px;
    border-color: #fcc100;
    padding: 4px 10px;
    margin-left: 2px;
    margin-right: 2px;
    min-width: 75px;
    background-color: #242A3D;
    color: #FCFCE5;
}

.Light:hover {
    background-color: #fcc100;
    color: #242A3D;
}