.Form {
    border: none;
    border-bottom: 2px #fccc20 solid;
}

.Button {
    border: none;
    background-color: #242a3d;
    color: #fccc20;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
}

.Button:hover {
    cursor: pointer;
    background-color: #fccc20;
    color: #242a3d;
}