.PetsContainer,
.ContentContainer {
    -ms-overflow-style: none;
}

.ContentContainer {
    max-height: 80vh;
}

.PetsContainer::-webkit-scrollbar,
.ContentContainer::-webkit-scrollbar {
    display: none;
}

.PetsContainer::-webkit-scrollbar-thumb,
.ContentContainer::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.PetsContainer::-webkit-scrollbar-track,
.ContentContainer::-webkit-scrollbar-track {
    background-color: transparent;
}

.PetsContainer>*,
.ContentContainer>* {
    scroll-snap-align: start;
}

.EndMessage {
    -ms-overflow-style: none;
}

.Border {
    border: 1px solid #;
    padding: 5px;
}