.DropdownItem {
  display: inline-block;
  max-width: 50%;
  padding: 2px;
  background-color: #242A3D;
  border: 1px solid #FCFCD4;
}

.DropdownItem i {
  color: #FCFCD4;
}

.Zindex {
  z-index: 99;
  padding-top: 5%;
}

.DropdownItem:hover {
  background-color: #242A3D;
  border: 1px solid #fcc100;
}

.Active:focus {
  color: #fcc100;
}

.ActiveDark {
  color: #242A3D;
}

.ActiveDark:focus {
  color: #fcc100;
}

.ProfileDark {
  background-color: #242A3D;
  z-index: 99;
}

.ProfileDropdownItem {
  background-color: #242A3D;
  color: #FCFCD4;
  border: 1px solid #FCFCD4;
}

.ProfileDropdownItem i {
  color: #fcc100;
}

.ProfileDropdownItem:hover {
  background-color: #FCFCD4;
  color: #242A3D;
}