.NavBar {
    background-color: #242A3D;
}
  
.NavLink {
    padding: 5px;
    text-decoration: none;
}
  
.Active i {
    color: #fccc20;
}
  
.Img {
    height: 100px;
    width: 150px;
}

.NavBar .DropdownContainer {
    background-color: #242A3D !important;
    padding: 0px !important;
}

.NavBar .DropdownContainer:before,
.NavBar .DropdownContainer:after {
    display: none;
}

.DropdownLink {
    background-color: #242A3D !important;
    color: #FCFCD4;
}

.DropdownLink i {
    color: #fccc20;
}

.DropdownLink:hover {
    background-color: #FCFCD4 !important;
    color: #242A3D;
}

.DropdownLink:focus {
    background-color: #fccc20;
    color: #242A3D;
}

.NavBar .Hamburger {
    background-color: #FCFCD4;
}

.NavBar .Hamburger:focus {
    background-color: #fccc20;
    outline: none;
    box-shadow: none;
}
