.Pet {
    background-color: #242A3D;
    border: 1px solid #fccc20;
    border-radius: 15px;
    margin-bottom: 16px;
    text-align: center;
}

.PetImage {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
    background-color: #fcfce5; 

}

.Pet figure,
h5 {
    margin: 0 0;
}

.Heart {
    color: #f85032;
}

.Heart:hover {
    color: #2142b2;
}

.HeartOutline:hover {
    color: #f85032;
}