.Pic {
  background-color: #242A3D;
  border-radius: 15px;
  margin-bottom: 16px;
  text-align: center;
  border: 1px solid #FCFCD4;
}

.PicImage {
  background-color: #fcfce5; 
  border-radius: 0;

}

.Pic figure,
h5 {
  margin: 0 0;
}

.Heart {
  color: #fc3511;
}

.Heart:hover {
  color: #ffa798;
}

.HeartOutline:hover {
  color: #fc3511; 
}