.Row {
    height: calc(100vh - 400px);
}

.Input {
    background: #ffffff;
    border: 1px solid #153658;
    box-sizing: border-box;
    border-radius: 50px;
    color: #7177a1;
    text-align: center;
    padding: 10px;
}

.Header {
    font-style: normal;
    font-weight: bold;
    font-size: x-large;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.Link {
    text-decoration: none;
    text-align: center;
    display: block;
    margin: auto;
    color: #242A3D;
}

.Link:hover {
    color: #242A3D;
}

.Link span {
    color: #242A3D;
    font-weight: bold;
}

.Container {
    padding: 30px 10px;
}

.SignInCol {
    height: 400px;
}

.SignUpCol {
    height: 400px;
}

.Header {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 15px;
    color: #242A3D !important ;
}
